<!-- this is where the song list will be displayed 

then when someone clicks on a song it will navigate to game.html with the selected song -->

<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.tailwindcss.com"></script> <!-- idk what this means but yeah-->

    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            background-color: #fff7fc;
            justify-content: center; 
            align-items: center;  
        }
    </style>


    <!-- <script> 
        function navigateToGame(selectedSong) {
            // Store the selected song in localStorage
            localStorage.setItem('selectedSong', selectedSong);
            // Navigate to game.html
            window.location.href = 'game.html';
        }
    </script> -->
    
</head>

<body>
    
</body>
</html>